@import url("https://fonts.googleapis.com/css2?family=Popps:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
}

header .logo span {
    color: #ff0157;
}

header .nav {
    display: flex;
    list-style: none;
    gap: 30px;
}

header .nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 400;
}

header .nav li a:hover {
    color:#ff0157;
}

.banner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('https://i.postimg.cc/s29LNR86/bg.jpg');
    background-size: cover;
}

.banner .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 1em;
    width: 45%;
}

.banner .content h2 {
    font-size: 50px;
}

.banner .content .btn {
    color: white;
    margin: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em; 
}

.btn span {
    background-color: #ff0157;
    padding: 7px;
}

.about {
    padding: 50px;
}

.about .content {
    display: flex;
    flex-wrap:wrap;
}

.about .content .col50 {
    width: 50%;
    padding: 20px;
}

.content h2 {
    font-size: 2.5em;
}

.about .content span {
    color: #ff0157;
    font-size: 1.5em;
}

.about .content .col50 img {
    width: 100%;
    height: 100%;

}

.menu {
    color: black;
    padding-bottom: 50px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.menu-container h2 {
    font-size: 2.5em;
}

.menu-container span {
    color: #ff0157;
    font-size: 1.5em;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.menu-btn span {
    background-color: #ff0157;
    font-size: x-large;
    padding: 15px;
    text-transform:uppercase;
}

.menu-btn a {
    text-decoration: none;
    color: #fff;
}

.menu-btn a:hover {
    text-decoration: none;
    color: #000;
}

.menu-container p {
    margin: 10px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.items-container h2 {
    
}

.itemcard {
    border: 15px solid white;
    width: 200px;
    padding: 5px;
    box-shadow: 0 5px 35px lightgray;

}

.itemcard p {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.img-container {
    width: 100%;
    height: 300px;
}

.img-container {
    width: 100%;
    min-height: 300px;
}

.itemcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experts {
    color: black;
    padding-bottom: 50px;
}

.experts-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.experts-container h2 {
    font-size: 2.5em;
}

.experts-container h2 span {
    color: #ff0157;
    font-size: 1.5em;
}

.experts-container p {
    margin: 10px;
}

.testimonial {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('https://i.postimg.cc/k5dZs5jR/bg2.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.testimonials-container h2 {
    color: #fff;
    font-size: 2.5em;
}

.testimonials-container h2 span {
    color: #ff0157;
    font-size: 1.5em;
}

.testimonials-container p {
    color: #fff;
    margin: 10px;
}

.testimonial .itemcard {
    background-color: #fff;
    width: 280px;   
}

.testimonial .itemcard img {
    border-radius: 48%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.testimonial .itemcard p {
    font-weight: normal;
}

.testimonial .itemcard span {
    color: #ff0157;
    font-size: 1.5em;
    font-weight:bold;
}

.contact {
    min-height: 100vh;
    background: url(https://i.postimg.cc/rcJcgLq1/bg3.jpg);
    background-size: cover;
}

.contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.contact-container h2 {
    color: #000;
    font-size: 2.5em;
}

.contact-container h2 span {
    color: #ff0157;
    font-size: 1.5em;
}

.contact-container p {
    color: #000;
    margin: 10px;
}

.contact .itemcard {
    background-color: #000;
    width: 280px;   
}

.contact .itemcard img {
    border-radius: 48%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.contact .itemcard p {
    font-weight: normal;
}

.contact .itemcard span {
    color: #ff0157;
    font-size: 1.5em;
    font-weight:bold;
}

.contactform {
    margin: 50px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 75px 50px;
}

.inputbox {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.inputbox input {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.inputbox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.footer {
    background-color: #ff0157;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-around;
    align-items: center;
    padding: 10px 30px;
}

.footer p {
    color: #fff;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

footer .nav {
    display: flex;
    list-style: none;
    gap: 30px;
}

footer .nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

footer .nav li a:hover {
    color:#ff0157;
}