@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono";
    background-color: #0b0b0b;
    color: #9c9c9c;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    margin: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 70px;
    background-color: #1b1b1b;
    width: 1110px;
    border-radius: 0 0 10px 10px;
}

.navlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    list-style: none;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.14em;
    vertical-align: bottom;
    padding: 0 82px;
}

.navlinks ul a {
    color: #9c9c9c;
    text-decoration: none;
}

.navlinks ul a:hover {
    color: #fff;
}

.menu-toggle {
    color: #1b1b1b;
    cursor: pointer;
    display: none;
}

.menu {

    }

.socials {
    margin-right: 95px;
    display: flex;
}

.socials img {
    margin-right: 25px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.leftcol {
    width: 60%;
    padding: 60px 32px 131px 95px;
}

.leftcol h1 {
    padding: 20px 0;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 44px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #fff;
}

.leftcol p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14em;
    margin-bottom: 30px;
}

.rightcol {
    width: 40%;
    padding: 80px 35px;
}

.img-container {
    width: 350px;
    height: 350px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}

.btn {
    padding: 21px 64px;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    background-color: #3F8E00;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn a:hover {
    color:#0b0b0b;
}

.utf {
    margin: 109px 0 100px 95px;
    display: flex;
}

.main h4 {
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.14em;
    vertical-align: bottom;
    margin-bottom: 20px;
    color: #fff;
}

.companies {
    display: flex;
    flex-wrap: wrap;
}

.companies img {
    width: 160px;
    height: 60px;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    border-radius: 6px;
    border: 1px solid #1B1B1B;
    padding: 20px 39px;
    margin: 0 39px 0 0;
}

@media (max-width:768px) {
    .content {
        width: 100%;
    }

    .menu-toggle {
        display: block;
        color: #9c9c9c;
        margin-left: 180px;
        font-size: 40px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        background-color: #1b1b1b;
        left: 0;
        right: 0;
        padding: 20px 0px;
        z-index: 1;
    }

    .menu.active {
        display: flex;
        font-size: 25px;
    }

    .navlinks ul {
        display: none;
        padding: 20px;
        width: 768px;
    }

    .socials img {
        width: 40px;
        height: 40px;
    }

    .leftcol {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .leftcol h1 {
        font-size: 55px;
    }

    .leftcol p {
        font-size: 25px;
    }

    .btn {
        font-size: 25px;
    }

    .rightcol {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-container {
        width: 500px;
        height: 500px;
    }

    .utf {
        margin: 20px 20px 100px 20px;
    }

    .companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .companies img {
        width: 275px;
        height: 120px;
        margin: 10px;
    }

    .main h4 {
        font-size: 25px;
    }
}

@media (max-width:599px) {
    .content {
        width: 100%;
    }

    .menu-toggle {
        display: block;
        color: #9c9c9c;
        margin-left: 40px;
        font-size: 30px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        background-color: #1b1b1b;
        left: 0;
        right: 0;
        padding: 20px 0px;
        z-index: 1;
    }

    .menu.active {
        display: flex;
        font-size: 30px;
    }

    .navlinks ul {
        display: none;
        padding: 20px;
        width: 100%;
    }

    .socials {
        margin-right: 10px;
    }

    .socials img {
        width: 30px;
        height: 30px;
    }

    .leftcol {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .leftcol h1 {
        font-size: 40px;
    }

    .leftcol p {
        font-size: 19px;
    }

    .btn {
        font-size: 19px;
    }

    .rightcol {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-container {
        width: 300px;
        height: 300px;
    }

    .companies img {
        width: 300px;
        height: 100px;
        margin: 10px 0;
    }

    .main h4 {
        font-size: 20px;
    }

    .utf {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}