* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
}

/* Mobile View */
@media only screen and (max-width:599px) {
    body {
        background-color: blanchedalmond;
        color: brown;
    }

    .card-container {
        flex-direction: column;
    }

    #card {
        width: 100%;
    }

    .project-title p {
        font-size: 25px;
    }
}


/* Tablet View */
@media only screen and (min-width:600px) and (max-width:899px) {
    body {
        background-color: lightblue;
        color: cornflowerblue;
    }

    .card-container {
        flex-direction: column;
    }

    #card {
        width: 100%;
    }

    .project-title p {
        font-size: 25px;
    }
}

/* Desktop View */
@media only screen and (min-width:900px) and (max-width:1919px) {
    body {
        background-color: white;
        color: black;
    }

    .project-title p {
        font-size: 25px;
    }
    
}

/* XL Screen View */
@media only screen and (min-width:1920px) {
    body {
        background-color: lightcoral;
        color: firebrick;
        font-size: 1.5em;
    }
    
    #card {
        width: 500px;
    }

    .project-title p {
        font-size: 1.5em;
    }
}

/* Default Values */
.projects {
    width: 100%;
    padding-bottom: 50px;
}

.project-title {
    display: flex;
    justify-content: center;
}

.project-title p {
    text-align: center;
    margin: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    overflow: hidden;
    perspective: 1000px;
    background-color: white;
}

.card h2 {
    padding: 10px;
    border-top: 1px solid gray;
}

.card p {
    padding: 10px;
}

.proj-card-img-container {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.proj-card-img-container img {
    object-fit: cover;
}

.card:hover .proj-card-img-container{
    transform: rotateY(180deg);
}

.card-front-1 {
    color: black;
    background-color: #95bbfe;
}

.card-front-2 {
    color: black;
    background-color: #9ea0c8;
}

.card-front-3 {
    color: black;
    background-color: white;
}