* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.header-container {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
}

header .logo span {
    color: lightskyblue;
}

header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 400;
}

header .nav li a:hover {
    color:lightskyblue;
}

.banner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('media/images/generated-image-1771282141.png');
    background-size: cover;
}

.banner .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 1em;
    width: 45%;
}

.banner .content p {
    margin:50px 0;
}

.banner .content h1 {
    font-size: 60px;
    color: lightskyblue;
}

.banner .content h2 {
    font-size: 40px;
    color: white;
}

.banner .content .btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em; 
    margin: 30px;
}

.banner .btn a {
    text-decoration: none;
    color: white;
}

.btn a:hover {
    color: lightskyblue;
}

.btn span {
    background-color: rgba(0,0,0,0.5);
    padding: 7px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
}

.about {
    padding: 50px;
}

.about .content {
    display: flex;
    flex-wrap:wrap;
}

.about .content .col50 {
    width: 50%;
    padding: 20px;
}

.content h2 {
    font-size: 2.5em;
}

.about .content span {
    color: lightskyblue;
    font-size: 1.5em;
}

.about .content .col50 img {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.loc-container {
    padding: 50px;
}

.loc-container .content {
    display: flex;
    flex-wrap:wrap;
}

.loc-container .content .col50 {
    width: 50%;
    padding: 20px;
}

.loc-container h2 {
    font-size: 2.5em;
}

.loc-container .content span {
    color: lightskyblue;
}

.loc-container .content .col50 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    justify-content: center;
}

.main {
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    margin: 50px 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.main-container h2 {
}

.main-container span {
    color: lightskyblue;
}

.main-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.main-btn span {
    background-color: lightskyblue;
    font-size: x-large;
    padding: 15px;
    text-transform:uppercase;
}

.main-btn a {
    text-decoration: none;
    color: #fff;
}

.main-btn a:hover {
    text-decoration: none;
    color: #000;
}

.main-container p {
    margin: 10px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.items-container h2 {
    
}

.items-container-btn {
    font-size: 1.5em;
}

.items-container-btn span {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.items-container-btn span a {
    text-decoration: none;
    color: white;
}

.items-container-btn span a:hover {
    text-decoration: none;
    color: lightskyblue;
}

.itemcard {
    border: 15px solid white;
    width: 200px;
    padding: 5px;
    box-shadow: 0 5px 35px lightgray;

}

.itemcard p {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.img-container {
    width: 100%;
    height: 300px;
}

.img-container {
    width: 100%;
    min-height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.itemcard:hover .img-container {
    transform: rotateY(180deg);
}

.itemcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experts {
    color: black;
    padding-bottom: 50px;
}

.experts-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.experts-container h2 {
    font-size: 2.5em;
}

.experts-container h2 span {
    color: lightskyblue;
    font-size: 1.5em;
}

.experts-container p {
    margin: 10px;
}

.testimonial {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('media/images/generated-image-1771282816.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 0 50px 0;
}

.testimonials-container h2 {
    color: #000;
    font-size: 2.5em;
}

.testimonials-container h2 span {
    color: lightskyblue;
}

.testimonials-container p {
    color: #000;
    margin: 10px;
}

.testimonial .itemcard {
    background-color: #fff;
    width: 280px;   
}

.testimonial .itemcard img {
    border-radius: 48%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.testimonial .itemcard p {
    font-weight: normal;
}

.testimonial .itemcard span {
    color: lightskyblue;
    font-size: 1.5em;
    font-weight:bold;
}

.contact {
    min-height: 100vh;
    background: url(https://i.postimg.cc/rcJcgLq1/bg3.jpg);
    background-size: cover;
}

.contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.contact-container h2 {
    color: #000;
    font-size: 2.5em;
}

.contact-container h2 span {
    color: lightskyblue;
    font-size: 1.5em;
}

.contact-container p {
    color: #000;
    margin: 10px;
}

.contact .itemcard {
    background-color: #000;
    width: 280px;   
}

.contact .itemcard img {
    border-radius: 48%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.contact .itemcard p {
    font-weight: normal;
}

.contact .itemcard span {
    color: lightskyblue;
    font-size: 1.5em;
    font-weight:bold;
}

.contactform {
    margin: 50px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 75px 50px;
}

.inputbox {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.inputbox input {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.inputbox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.contactform .inputbox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: lightskyblue;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    transition: 0.5s;
    font-weight: 500;
    border: none;
}

.footer-container {
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-around;
    align-items: center;
    padding: 10px 30px;
}

.footer-container p {
    color: darkblue;
}

.footer-container ul li {
    list-style: none;
}

.footer-container ul li a {
    color: darkblue;
    list-style: none;
    text-decoration: none;
}

.footer-container .nav {
    display: flex;
    list-style: none;
    gap: 30px;
}

.footer-container .nav li a {
    text-decoration: none;
    color: darkblue;
    font-size: 1em;
    font-weight: 400;
}

.footer-container .nav li a:hover {
    color:#555;
}

.menu-toggle {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width:768px) {
    /* Showing Hamburger Icon when in mobile view */
    .menu-toggle {
        display: block;
    }

    /* Hiding normal menu when in mobile view */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        background-color: #fff;
        left: 0;
        right: 0;
        padding: 20px 0px;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .contactus {
        display: flex;
        justify-content: center;
    }

}

@media (max-width:599px) {
    .about .content {
        display: flex;
        flex-direction: column;
    }

    .about .content .col50 {
        width: 100%;
    }
}